body {
  background: linear-gradient(to bottom right, white, #bcbdc4);
  height: 4000px;
}
.headerx {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  color: white;
  z-index: 7;
  font-family: verdana;
}
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #3b5998;
  top: 0;
  left: 0;
  color: white;
  z-index: 7;
  font-family: verdana;
}

.submit1 {
  left: 1350px;
  top: 40px;
  background: #4267b2;
  color: white;
  position: fixed;
  z-index: 20;

  height: 30px;
  width: 80px;
  cursor: pointer;
}

.content {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 800px;
}

#img2 {
  top: 150px;
  left: 100px;
  height: 250px;
  width: 550px;
}

#mailbox {
  margin-top: 25px;
  width: 300px;
  height: 20px;
  border-radius: 5px/5px;
  background: white;
  padding: 15px;
  font-size: 20px;
}
#mailbox2 {
  margin-top: 25px;
  width: 300px;
  height: 20px;
  border-radius: 5px/5px;
  background: white;
  padding: 15px;
  font-size: 20px;
}
#namebox {
  margin-top: 25px;
  width: 300px;
  height: 20px;
  border-radius: 5px/5px;
  background: white;
  padding: 15px;
  font-size: 20px;
}

#form3 {
  top: 135px;
  left: 850px;
  font-family: verdana;
  font-size: 20px;
  color: #142170;
  width: 500px;
  height: 495px;
}

#button2 {
  width: 250px;
  height: 50px;
  left: 850px;
  top: 710px;
  position: absolute;
  background: #6aa656;
  color: white;
  font-size: 20px;
  border-radius: 10px/10px;
  cursor: pointer;
  outline: none;
}

#footer {
  width: 930px;
  top: 20px;
  left: 200px;
  color: #bcbdc4;
  height: 60px;
}

.bodyfooter {
  position: absolute;
  left: 0;
  top: 950px;
  width: 100%;
  height: 80px;
  background: white;
}

#form4 {
  font-size: 14px;
}
#form5 {
  font-size: 15px;
}

.bodyz {
  font-size: 20px;
}
#selectday {
  width: 70px;
  height: 30px;
  font-size: 15px;
}
#selectmonth {
  width: 80px;
  height: 30px;
  font-size: 15px;
}

#message1 {
  text-align: center;
  color: red;
  font-size: 15px;
}
.container {
  align-items: flex-end;
  display: flex;
  flex-basis: 20px;
}
/* body {
  background: linear-gradient(to bottom right, white, #bcbdc4);
  height: 4000px;
/* } */
#img3 {
  left: 20px;
  height: 50px;
  top: 5px;
}

.navigate {
  position: fixed;
  background-color: #18191a;
  width: 325px;
  height: 100%;
  top: 60px;
  left: 0;
  z-index: 7;
}

.bodyn {
  top: 80px;
  left: 30px;
  position: absolute;
  width: 200px;
  height: 740px;
  font-family: Times New Roman;
}

.container {
  display: flex;
  flex-basis: 20px;
  margin-left: 10px;
  align-items: center;
}

.avatar {
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.btnstatus:hover {
  background-color: #303031;
  color: white;
  width: 140px;
}
.btnstatus1:hover {
  background-color: #303031;
  color: white;
  width: 170px;
}

.status {
  background-color: #242526;
  width: 500px;
  height: 125px;
  margin-top: 60px;
  top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  border-radius: 15px/15px;
  font-size: 15px;
}

.statustext {
  padding-top: 15px;
  font-size: 15px;
  top: 15px;
  width: 250px;
  height: 40px;
  background: #3a3b3c;
  padding: 5px;
  outline: none;
  outline-width: 0;
  border-radius: 20px/20px;
  background-image: url(/public/search.png);
  background-position: 5px;
  background-repeat: no-repeat;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 120px 170px;
}
.wrapper {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 170px 150px 170px;
}
a {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
